<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form th:action="@{/register}" method="post">
        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="loginId" required></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="password" required></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="userName" required></td>
            </tr>
        </table>
        <br>
        <button type="submit">가입하기</button>
        <a href="/login">로그인으로 돌아가기</a>

        <div th:if="${errorMessage}">
            <p style="color:red" th:text="${errorMessage}"></p>
        </div>
    </form>
</body>
</html>